body {
  background-color: #333;
  padding-top: 10%;
}

.container {
  box-sizing: border-box;
  background-color: white;
  margin: 0 auto;
  width: 375px;
  height: 667px;
}

.search {
  width: 326px;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 2px solid #EFEFF4;
  padding: 5px;
  height: 20px;
  border-radius: 12px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;
  right: -16px;
  width: 40px;
  height: 32px;
  border: 2px solid #EFEFF4;
  background: #EFEFF4;
  text-align: center;
  color: #6D6D72;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  top: 15%;
  padding: 10px 16px;
}

.map {
background-color: white;
height: 217px;
padding-top: 35px;
}

.bus_icon {
  position: absolute;
  display: inline-block;
  color: white;
  padding: 19px 0 16px 16px;
}

.bus_stop_block {
  background-color: #7D51C7;
}

.bus_stop, .arrival {
  display: inline-block;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  height: 30px;
  width: 140px;
  padding: 20px 0 5px 38px;
}

.arrival {
  font-size: 15px;
}

.bus_headings {
  border-bottom: 1px solid #C7C7C7;
  padding-bottom: 10px;
}

.bus_info_container{
  overflow-y: scroll;
  background-color:  white;
  margin: auto;
  width: 375px;
  height: 181px;
}

.line {
  width: 6%;
}

.destination {
  width: 11%;
}

.frequency {
  width: 10%;
}

table {
  font-size: 14px;
  text-align: left;
  font-family: sans-serif;
  height: 30px;
  padding-left: 16px;
  padding-top: 10px;
}

.eastbound, .northbound, .southbound, .reroute, .out_of_service {
  padding-bottom: 15px;
}

.route {
  padding-bottom: 10px;
  width: 6%;
}

.location {
  width: 9%;
}

.time {
width: 14%;
}

.heading {
  background-color: #EFEFF4;
  border-bottom: 1px solid #C7C7C7;
  padding: 9px 0;
  height: 15px;
}

.status {
  padding-left: 16px;
  color: #6D6D72;
  font-size: 13px;
  font-family: sans-serif;
}

.tab_bar {
  border-top: .5px solid #EFEFF4;
  height: 50px;
  weight: 375px;

}

.tab_icons  {
  display: inline-block;
  float: left;
  width: 375px;
  padding: 0px 30px 0 30px;
}

.tabs p {
display: inline;
color: #6D6D72;
font-family: sans-serif;
font-size: 12px;
font-weight: lighter;
width: 375px;
padding: 0px 18px 0 31px;
}

.map_icon, .route_icon, .explore_icon, .account_icon {
  display: inline-block;
  float: left;
  padding: 5px 71px 0 7px;
}

.map_icon {
  color: #7D51C7;
}

.route_icon, .explore_icon, .account_icon {
  color: #6D6D72;
}
