body {
  background-color: #333;
  padding-top: 10%;
}

.container {
  box-sizing: border-box;
  background-color: white;
  margin: 0 auto;
  width: 375px;
  height: 667px;
}

h1 {
  font-size: 1em;
  font-weight: lighter;
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding-top: 30px;

}

nav {
  background-color: #7D51C7;
  margin: auto;
  width: 375px;
  height: 64px;
}

.map {
background-color: white;
height: 230px;
}


.bus_stop {
  background-color: #7D51C7;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  height: 45px;
  width: 359px;
  padding: 5px 0 5px 16px;
}

.incoming_buses {
  background-color: #EFEFF4;
  border-bottom: 1px solid #C7C7C7;
color: #6D6D72;
font-family: sans-serif;
font-size: 13px;
font-weight: lighter;
height: 35px;
width: 359px;
padding: 1px 0 2px 16px;
}

/**.status {
  background-color: #7D51C7;
  padding-top: 3px;
  width: 120px;
  height: 30px;
}**/

.status p {

}

.bus_info_container{
  overflow-y: scroll;
  background-color:  white;
  margin: auto;
  width: 375px;
  height: 231px;
}

.bus-row .route, .bus-row .destination, .bus-row .departure {
  display: inline-block;
  font-size: 13px;
  font-family: sans-serif;
  padding: 6px 16px;
  margin: 3px 0px;
}

.bus-row .route {
  width: 11%;
}

.bus-row .destination {
  width: 22%;
}

.bus-row .departure {
  width: 15%;
}

.heading {
  background-color: #EFEFF4;
  border-bottom: 1px solid #C7C7C7;
  padding: 9px 0;
  height: 20px;
}

h3 {
  display: inline;
  color: #6D6D72;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
  padding-left: 16px;
  margin-right: 25px;
}

footer {


}

.tab_bar {
}

.navbar a {
    border-top: .5px solid #EFEFF4;
    float: left;
    display: block;
    color: #6D6D72;
    text-align: center;
    padding: 16px 25px;
    text-decoration: none;
    font-weight: lighter;
    font-size: 13px;
    font-family: sans-serif;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #7D51C7;
    color: white;
}
